<div id="logo" class="row justify-content-md-center bs_gutter-x-0">
    <!-- Titulo principal -->
    <div class="logo animate__animated animate__zoomIn">
        <div class="logo-img">
            <img class="rounded mx-auto d-block" width="150" src="{{logo}}" alt="{{logoTitle}}">
        </div>
        <div class="logo-header">
            <h1>{{siteTitle}}</h1>
            <h2>{{siteSubTitle}}</h2>
        </div>                   
    </div>                
    <span class="descripcion"><em>{{description}}</em></span>                               
</div>