html
    head
        link(rel="shortcut icon", href="/assets/img/icon.png", type="image/x-icon")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js", integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==", crossorigin="anonymous", referrerpolicy="no-referrer")  
        script(src="https://kit.fontawesome.com/9d11d30b0e.js", crossorigin="anonymous") 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
        link(rel="stylesheet", href="/assets/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        title="APAPACHO | Diseño Infantil"
        meta(name="description", content="Tienda de vestuario infantil hecho a mano para apapachar a quienes amas. Produciendo desde el Sur de Chile a baja escala, amando la naturaleza.")
        meta(name="keywords", content="Apapacho,Valdivia,Diseño,Independiente,Tienda,Ropa,Infantil,Niños,Niñas,Niñes,Niño,Niña,Niñe")
    body
        header.shadow-bottom.text-center
            #logo.row.justify-content-md-center.bs_gutter-x-0    
                .logo.animate__animated.animate__zoomIn
                    .logo-img
                        img.rounded.mx-auto.d-block(width="150",src=logo,alt=logoTitle)
                    .logo-header
                        h1=siteTitle
                        h2=siteSubTitle                                    
                span.descripcion
                    em=description
            .row.justify-content-md-center.menu-fixed.bs_gutter-x-0
                nav.principal-nav.navbar.navbar-expand-lg.navbar-light
                    .container-fluid
                        button.navbar-toggler.collapsed(type="button",data-bs-toggle="collapse",data-bs-target="#navbarNavDropdown",aria-controls="navbarNavDropdown",aria-expanded="false",aria-label="Toggle navigation")
                            i.fa-solid.menu_cel                        
                        #navbarNavDropdown.collapse.navbar-collapse.justify-content-center
                            ul.navbar-nav.justify-content-center
                                each p in navbarLinks
                                    li.nav-item
                                        if p.url == path
                                            a.nav-link.active(href=p.url, aria-current="page")= p.title                                        
                                        else 
                                            a.nav-link(href=p.url, aria-current="page")= p.title                                        
        if path=="/"
            block addProductForm 
        else if path=="/productos"
            block Productos
        else if path=="/producto/:id"
            block Producto
